@model Agenda.Master.Domain.Agendar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agendar</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dataf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dataf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
